
.counter {
    display: flex;
    padding: 0.5em;
    font-size: 2em;
    font-weight: 900;
    font-family: monospace;
}

.digit {
    margin: 0.1em;
    padding: 1em;
    color: white;
    background-color: black;
}